@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico&display=swap');

html {
  font-size: 2vw;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #242424;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #7454BF 0%, #CDB8FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button, button:focus, button:active, button:focus:active {
  outline: none;
  box-shadow: none;
  color: #CDB8FF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  margin: 4.5em;
}
.large {
  font-size: 8em;
  color: #CDB8FF;
}
b {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
#memorytxt {
  height: 15vh;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 2.75em;
  }
  h1 {
    font-size: 3.25em;
  }
  .container {
    width: 90%;
  }
  .large {
    font-size: 7.5em;
  }
}
